<include src="/site/body.html">
  <div class="jumbotron">
    <h2>Copy and Past in your page to tracking</h2>

    <p>
      <pre style="text-align: left;">
<code id="script">&#x3C;script&#x3E;
    (function(act,ref){var s=&#x27;script&#x27;,w=window,d=document,a=d.createElement(s),m=d.getElementsByTagName(s)[0];a.async=1;a.src=&#x27;//tracking-server.herokuapp.com/release/tracking-analytics.js&#x27;;m.parentNode.insertBefore(a,m);a.onload=function(){trackingAnalytics.sendActivity(act,ref)}
    })(&#x27;pageview&#x27;, window.location.pathname);
&#x3C;/script&#x3E;</code>
      </pre>
    </p>

    <p>
      <button class="btn btn-lg btn-success btn-clipboard" type="button" data-clipboard-target="#script">
        Copy script to clipboard
      </button>

      <a class="btn btn-lg btn-primary" href="//tracking-pages.herokuapp.com/admin" target="_blank">
        View Page of contacts
      </a>
    </p>

    <br />
    <br />

    <h2>Sample to send contacts</h2>

    <p>
      <pre style="text-align: left;">
<code>var showErrorMessage = function(messageError) {
  console.log(messageError);
};

var showSuccessMessage = function() {
  alert(&#x27;Success contact send&#x27;);
};

var obj = {
  name: &#x27;Contact Full Name&#x27;,
  email: &#x27;contact@email.com&#x27;,
  message: &#x27;This is a main message&#x27;
};

trackingAnalytics.sendContact(obj.name, obj.email, obj.message, function(messageError, result) {
  if (messageError) return showErrorMessage(messageError);
  showSuccessMessage();
});</code>
      </pre>
    </p>
  </div>
</include>
